/* General Setup */
body {
    margin: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #00b4db, #0083b0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* The Glass Card */
.weather-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); /* This creates the frosted glass look */
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
   
}

.location {
    font-size: 1.5rem;
    font-weight: bold;
}

.date {
    font-size: 0.9rem;
    opacity: 0.8;
}

.weather-icon {
    font-size: 80px;
    margin: 20px 0;
}

.temp {
    font-size: 4rem;
    margin: 0;
}

.description {
    text-transform: capitalize;
    letter-spacing: 1px;
}

/* Extra Details Row */
.weather-details {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.col p {
    margin: 5px 0;
    font-size: 0.9rem;
}

h1 {
    color: white;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}